{% extends "users/base.html" %}
 {% load static %}
{% block title %} Home Page {% endblock title%}
{% block content %}

    <div class="jumbotron jambo">
        <h1 class="display-4" style="font-family: 'Monoton', cursive; color: beige;">Welcome</h1>
        <p class="lead">
            <em>Independent of the Year</em>
        </p>
        <hr class="my-4">
         <form class="form-inline my-2 my-lg-0 topnav-centered" method=POST action="{% url 'search' %}">
                {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searched">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
            <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
        </form>
    </div>
<div class="row">
    
    {% for post in object_list %}
    <div class="col-md-4">  
        
          
        <div class="card m-1" style="width: 15rem">
            {% if post.image %}
            <img src="{{ post.image.url }}" alt=""/>
            {% endif %}
            <div class="card-body">
                    <h5 class="card-title">
                    <a href="{% url 'article-detail' post.title %}"> {{ post.title }} </a>
                    </h5>
                    <p class="card-text"><a href="{% url 'users-profile' %}">{{ post.author }}</a>: {{ post.body|slice:":200" }}</p>
                        <small>
                        {% if user.is_authenticated %} {% if user.id == post.author.id %}
                        <a href="{% url 'update_post' post.pk %}">Edit</a>
                        
                        <a href="{% url 'delete_post' post.pk %}">Delete</a>
                        {% endif %} {% endif %} 
                    </small
                    ><br />
                    <div class="card-footer">
                        <small><em>link: <a href="{{ post.link }}">here</a></em></small>
<br>
                        <small><em>{{ post.post_date }}</em></small>
                    </div>
                </div>
                
        </div>
        
    </div>
    {% endfor %} 
</div>


{% endblock content %}