{% extends "users/base.html" %}
 {% load static %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
    


    <div class="my-3 p-5">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <img style="border-radius: 60%; border:1px solid #ddd" src="{{ profile.avatar.url }}" alt="">
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <p>{{ profile.bio }}</p>
                <br/><br/>
                <button class="btn btn-outline-secondary"><a href="{% url 'update_profile' %}">update profile</a> </button>
            </div>
        </div>
    </div>
{% endblock content %}